.catalogue-photo {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 564px); // ✅ taille stricte comme sur Figma
    gap: 20px;
    justify-content: center;

    .bloc-photo-liste {
        display:block;
        width: 100%;
        

        &:hover .photo-hover {
            opacity: 1;
        }
    
        .icon-eye {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .icon-fullscreen {
            position: absolute;
            top: 21px;
            left: 512px;
        }
    
        .photo-hover img {
            width: 32px;
            height: auto;
            transition: transform 0.2s ease;
        }
    
        .photo-hover img:hover {
            transform: scale(1.1);
        }
    }

    .bloc-photo-liste img {
      width: 100%;
      height: 495px;
      object-fit: cover;
    }
  }
}


