//----------
// Styles pour le footer
.site-footer {
    background-color: $footer-color-bkg; // Fond blanc
    padding: 0;
    text-align: center;
    border-top: 1px solid $footer-border-color; // Ligne de séparation
    margin-bottom: 10px;
}

.footer-container {
    max-width: $header-width; // Alignement avec le header
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-small;
}

.footer-links, .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 86px;
    margin-top: 6px;
    a {
        text-transform: uppercase; // Transforme le texte en majuscules
        text-decoration: none;
        color: $footer-color-menu-lnk;
        font-family: $footer-font-family;
        font-size: $footer-font-size;


        &:hover {
            text-decoration: underline;
        }
    }
}

/*.footer-copyright {
    font-size: 0.9rem;
    color: $couleur-gris-fonce;
}*/

/*.footer-navigation-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #333;
}*/

/*.footer-navigation {
    text-align: center;
}*/

/*.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}*/

/*.footer-menu a {
    color: #fff;
    text-decoration: none;
}*/
