
  

#wpcf7-f6-o1{
    width:275px;
    display:flex;
    flex-direction: column;
    //box-sizing: border-box;


    .wpcf7-text{
        width: 263px;
        height: 40px;
        border: 1px solid $couleur-gris-clair; 
        border-radius: 8px;
        box-sizing: border-box;
    
    }

    .wpcf7-textarea{
        width: 263px;
        height: 210px;
        border: 1px solid $couleur-gris-clair; 
        border-radius: 8px;
        box-sizing: border-box;
    }

    .wpcf7-submit{
        width: 263px;
        height: 50px;
        border: 1px solid $couleur-gris-clair; 
        border-radius: 8px;
        box-sizing: border-box;
    }


    .zone-form-type-1 {
        height: 63px;
        box-sizing: border-box;
        margin-bottom: 24px; // Marge espacement champs
      }

      .submit-form{
        margin-top: 17px;
      }
      
      .form-label {
        display: block; // Force le label à être sur une ligne distincte
        margin-bottom: 5px; // Espacement entre le label et le champ 
      }
      
      .zone-form-type-2 {
        
      }     

}