// Styles pour le header
.site-header {
    background-color: $header-color-bkg;
    padding: $header-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header-container {
    background-color: $header-color-bkg;
    padding: $header-padding;
    width: $header-width;
    height: $header-height;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 346px;
}



/*.header-container {
    max-width: 1440px; // Largeur maximale du header
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.site-logo img {
    
        width: 216px; // Largeur fixe
        height: 14px; // Hauteur fixe
        object-fit: contain; // Maintient les proportions sans déformation
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 45px;

    li {
        a {
            text-transform: uppercase; // Transforme le texte en majuscules
            text-decoration: none;
            color: $header-color-menu-lnk;
            font-family: $header-font-family;
            font-size: $header-font-size;

            /*&:hover {
                color: $survol-color; // Couleur accent (rouge)
            }*/
        }
    }
}

.logo-container{
    padding-left:4px;
}
