// Styles pour le header
.site-header {
    background-color: $header-color-bkg;
    padding: $header-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: $header-color-bkg;
    padding: 0 $header-padding;
    height: $header-height;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 346px;
    box-sizing: border-box;
}


// Styles pour le titre du header
.header-title-container {
    /*text-align: center;
    //margin: 20px 0;
    top: 515px;
    text-align: center;
    //margin: 20px 0;
    display: block;
    position: absolute;*/
  position: absolute;
  top: 96px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* centré horizontalement */
  align-items: center;     /* centré verticalement */
  pointer-events: none;    /* évite les clics bloqués */
  z-index:auto;


    

    .header-title {
  font-family: "SpaceMono", monospace;
  font-size: 96px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5); // semi-transparent
  text-align: center;
  mix-blend-mode: hard-light; // ✅ rend la transparence active avec le fond
  text-shadow:
    0 0 0 #fff, -2px 1px 0 #fff, 2px 0 0 #fff,
    0 -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff,
    2px -2px 0 #fff, 2px 2px 0 #fff;
}
    
}

.site-logo img {
    
        width: 216px; // Largeur fixe
        height: 14px; // Hauteur fixe
        object-fit: contain; // Maintient les proportions sans déformation
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 45px;

    li {
        a {
            text-transform: uppercase; // Transforme le texte en majuscules
            text-decoration: none;
            color: $header-color-menu-lnk;
            font-family: $header-font-family;
            font-size: $header-font-size;

            /*&:hover {
                color: $survol-color; // Couleur accent (rouge)
            }*/
        }
    }
}

.logo-container{
    padding-left:4px;
}
