// Styles de la modale

.hidden {
  display: none !important;
}

.modale-container {
  margin:0 auto;
  position: fixed; // Fixe la modale par rapport à la fenêtre
  top: 0px;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 1000; // Au-dessus des autres éléments
  display: flex;
  justify-content: center;
  align-items: center; // Centrer la modale horizontalement et verticalement

  .modale {
    margin:auto;
    width: 597px; 
    height: 769px; 
    border: 5px solid black; 
    box-sizing: border-box; 
    background-color: $couleur-blanc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation: modalFadeIn 0.5s ease-out; // Utilise l'animation du fichier _animations.scss
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform-origin: center center; // Point de départ de l'animation
    
      // En-tête de la modale
      .modal-header {
        margin-top: 13px;
        background: url('../../assets/images/contact-header-desktop.png') no-repeat center center; // Image en-tête
        background-size: cover; // Ajustement automatique
        height: 106px; // Hauteur de l'en-tête
      }
  
      .modal-body {
        display: flex;
        position: relative;
        width: 100%;
        margin: 50px auto 0;
        box-sizing: border-box;
        justify-content: center;
      }
  }
}




// Animation d'apparition
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); // Départ légèrement au-dessus
  }
  to {
    opacity: 1;
    transform: translateY(0); // Arrivé en position normale
  }
}
