.navigation-bouton-photo {
  width: 96%;
  max-width: 1130px;
  margin: -0.4vh auto 0 auto;
  padding: 0vh 0vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;

  border-bottom: 1px solid black; // 🔧 filet noir 1px
  /*&::before {
    content: "";
    position: absolute;
    bottom: -161px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%; // ou une valeur adaptée selon la maquette
    height: 1px;
    background-color: black;
  }*/


  .container-navigation-bouton-photo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3vh;
  }

  .bloc-interaction-gauche {
    display: flex;
    gap: 5.8vw;
    align-items: center;
    margin-top: 1.7vh;

    .question-contact-bouton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0vw;

      p {
        margin: 0;
      }
    }

    .contact-button {
      display: flex;
      flex-direction: column;
      justify-content: center;

      #bouton-photo {
        width: 25vw;
        max-width: 281px;
        height: 50px;
        margin-left: -1vw;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .bloc-interaction-droit {
    display: flex;
    align-items: center;
    margin-right: -1.5vw; // alignement droit miniature navigation

    .bloc-photo-fleche-nav {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .fleches-navigation-photos {
      display: flex;
      gap: 25px;

      a {
        text-decoration: none;
        margin-top: 0.5vh;

        img {
          width: 28px; // taille fleches nav miniature .
          height: auto;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .image-navigation-photo {
      margin-top: 8px;

      img {
        width: 81px;
        height: 71px;
        object-fit: cover;
        //border-radius: 0px;
      }
    }
  }
}