 // Bloc bas : contact et navigation
.navigation-bouton-photo {
        width: 1130px;
        max-width: 1130px;
        height: 12.8vh;
        display: flex;
        flex:1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        border-bottom: solid 1px;




      
        
        

        
       
        
        


        .container-navigation-bouton-photo{
            width: 100vw;
            height: 17.8vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            

            .bloc-interaction-gauche{
                margin:0px;
                display:flex;
                gap:107px;
                

                .contact-button{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    margin:0px;

                    #bouton-photo{
                        width:281px;
                        height:50px;
                        margin-left:-15px;
                    }
                }

                .question-contact-bouton{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 21px;
                }

            }

            .bloc-interaction-droit{
                //margin-top: -11px;
                display: flex;
                //flex-direction: column-reverse;
                //align-items: center;
                //justify-content: center;

                .fleches-navigation-photos{
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    .navigation-photos .prev:hover,
                :hover {
                    //background-color: #f0f0f0; /* Couleur légèrement plus claire au survol */
                    transform: scale(1.1); /* Effet de zoom au survol */
                    }

                    a{
                        text-decoration: none;
                    }
                }

                .bloc-photo-fleche-nav{
                    margin: 0;
                    display: flex;
                    flex-direction: column-reverse;
                }

                .image-navigation-photo{
                    margin-bottom: 6px;

                    img{
                        width:81px;
                        height:71px;
                    }
                }
            }
        }     
}
 