// Conteneur principal pour centrer le contenu
.site-main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 80vh; 
    background-color: $page-background;
    text-align: center;

    .entry-content {
        width:100%;
        min-width: 50vh;
        font-size: 1.2rem; /* Taille de police */
        line-height: 1.6; /* Hauteur de ligne */
        color: #333; /* Couleur du texte */
    
        img {
            max-width: 100%; /* Images responsives */
            height: auto;
        }
    
        p {
            margin-bottom: 20px; /* Espace entre les paragraphes */
        }
    }


}

.hero-header-image {
    text-align: center; // Centre l'image horizontalement
    margin-bottom: 40px; // Espace sous l'image
    width: 1440px;


    img {
        max-width: 1440px;
        width: 1440px;
        height: 962px;
        object-fit: cover;
    }
}

.bouton-charger-plus{
    width: 19vw;
    max-width: 272px;
    height: 5.3vh;
    margin-left: 0vw;
    margin-top: 5.4vh;
    margin-bottom: 5.3vh;
    transition: transform 0.3s ease;
}

