// Couleurs

//Couleurs du header
$header-color-bkg: #ffffff; // Fond du header
$header-color-menu-lnk: #000000; // Couleur des liens

// Dimensions
$header-height: 80px;
$header-width: 1440px;
$header-padding: 20px;

// Typographie
$header-font-family: 'Roboto', sans-serif;
$header-font-size: 16px;