// Couleurs principales utilisées dans le site
$couleur-noir: #000000; // Noir utilisé pour les titres et texte principal
$couleur-blanc: #ffffff; // Blanc utilise pour les fonds et zones claires
$couleur-rouge: #ff0000; // Rouge utilisé pour le logo et éléments accentues
$couleur-gris-fonce: #333333; // Gris fonce pour les sous-titres et textes secondaires
$couleur-gris-clair: #cccccc; // Gris clair pour les bordures et séparateurs
$couleur-transparent-noir: rgba(0, 0, 0, 0.8); // Fond semi-transparent (80%) pour la lightbox



// Polices
$font-poppins: 'Poppins', sans-serif; 
$font-spacemono: 'SpaceMono', monospace; 

// Typographie
$font-size-base: 16px; // Taille de base pour le texte
$line-height-base: 1.6; // Hauteur de ligne 
$titre-H1-font-size: 96px;
$titre-H1-line-height: 100%;
$titre-H1-letter-spacing: 0%;
$titre-H1-transform: uppercase;
$titre-H1-weight: 700;
$titre-H1-style: italic;


// Dimensions globales
$header-height: 80px; // Hauteur du header
$header-width: 1440px; // Largeur maximale du header
$header-padding: 0px; // Espacement interne du header



// Header
$header-color-bkg: $couleur-blanc; // Fond du header
$header-color-menu-lnk: $couleur-noir; // Couleur des liens du menu
$header-font-family: $font-spacemono; // Police utilisee dans le header
$header-font-size: $font-size-base; // Taille de police pour le header

// Mise en forme Page d'accueil page-accueil.php
$padding-desktop: 40px; // Espacement pour écrans desktop
$page-background:$couleur-blanc;
$page-background: $couleur-blanc;


// Footer
$footer-color-bkg: $couleur-blanc; // Fond du footer
$footer-color-menu-lnk: $couleur-noir; // Couleur des liens du menu
$footer-color-text: $couleur-noir; // Couleur du texte dans le footer
$footer-border-color: $couleur-noir; // Couleur de la bordure supérieure du footer
$footer-font-family: $font-spacemono; // Police utilisée dans le footer
$footer-font-size: $font-size-base; // Taille de police pour le footer

// Bordures
$color-border:$couleur-blanc;



// Espacements
$spacing-small: 16px; // Petit espacement
$spacing-medium: 32px; // Espacement moyen
$spacing-large: 64px; // Grand espacement

