@charset "UTF-8";
.home {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.site-header {
  background-color: #ffffff;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  background-color: #ffffff;
  padding: 0px;
  width: 1440px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 346px;
}

/*.header-container {
    max-width: 1440px; // Largeur maximale du header
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
.site-logo img {
  width: 216px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 45px;
}
.main-navigation ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-family: "SpaceMono", monospace;
  font-size: 16px;
  /*&:hover {
      color: $survol-color; // Couleur accent (rouge)
  }*/
}

.logo-container {
  padding-left: 4px;
}

.site-footer {
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  border-top: 1px solid #000000;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 86px;
  margin-top: 6px;
}
.footer-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-family: "SpaceMono", monospace;
  font-size: 16px;
}
.footer-links a:hover {
  text-decoration: underline;
}

/*.footer-copyright {
    font-size: 0.9rem;
    color: $couleur-gris-fonce;
}*/
/*.footer-navigation-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #333;
}*/
/*.footer-navigation {
    text-align: center;
}*/
/*.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}*/
/*.footer-menu a {
    color: #fff;
    text-decoration: none;
}*/
@font-face {
  font-family: "Poppins";
  font-weight: 300; /* Poids correspondant à Light */
  src: url("../fonts/Poppins-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Poppins-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500; /* Poids correspondant à Medium */
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-weight: bold;
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-style: italic;
  src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-weight: normal;
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
}/*# sourceMappingURL=main-style.css.map */